.events_tablesName {
    margin-left: 30%;
    margin-right: 30%;
    text-align: -webkit-center;
    font-size: larger;
    font-weight: 900
}

.winnersTable tr:not(:first-child):hover {
    background-color:rgba(226, 255, 199, 0.79);
    /*cursor: pointer;*/
}

.winnersTable{
    width: 100%;
    text-align: left;
    background: whitesmoke;
    border-radius:10px;
}

.winnersTable td:nth-child(3){
    color:SteelBlue;
    padding-left:4%;
}

.winnersTable .place{
    width:5%;
}

.winnersTable .wname{
    width: 35%;
}

.winnersTable .major{
    padding-right: 30%;
}

.winnersTable .uni{
    width: 25%;
}

.winnersTable .pic{
    width:10%;
}

#myPic { 
    height: 100px;
    width:  100px;
}

.imageTable {
    align: center;
}

.topics {
    text-align: center;
    font-size: 400%;
    font-weight: 900;
    color: rgba(65,110,225,0.9);
}

#paypal {
    border: 0;
    width: 25%;
    height: 25%;
}

#cost {
    font-weight: bold;
}

