.events_tablesName {
    margin-left: 30%;
    margin-right: 30%;
    text-align: -webkit-center;
    font-size: larger;
    font-weight: 900
}

.eventsTables tr:not(:first-child):hover {
    background-color:rgba(226, 255, 199, 0.79);
    cursor: pointer;
}

.eventsTables tr:not(:first-child) {
    height: 30px;
}

.eventsTables td:last-child {
    color: rgb(65,110,225);
    text-decoration:underline;

}

.eventsTables{
    width: 100%;
    text-align: left;
    background: whitesmoke;
    border-radius:10px;
}

.eventsTables .dateCol{
    width: 15%;
}

.eventsTables .enameCol{
    width: 35%;
}

.eventsTables .infoCol{
    padding-right: 10%;
    width: 40%
}

.eventsTables .linkCol{
    width:10%;
}
