
.general_form {
    margin-left: 2%;
    margin-right: 2%;
}

.general_form fieldset {
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 5px;
    border-width: 1px;
}

.general_form label {
    float: left;
    width: 20%;
    font-weight: bold;
}

.general_form .gender {
    font-weight: normal;
    float: none;
}

.general_form select {
    /*width: 110px;*/
    /*font-weight: bold;*/
}

.general_form .form_field {
    border-width: 1px;
    border-radius: 3px;
    outline: 1;
}

.general_form .form_field:required {
    border-color: #DDDDDD;
}

.general_form .form_field:invalid {
    background-color: #FAFAFA;
}

.general_form .form_field:valid {
    background-color: #ECFFEC;
}

.general_form #formbuttons {
    text-align: center;
}

#formbuttons {
    text-align: center;
}

.general_form .btn_default {
    border-radius: 3px;
    border-width: 1px;
    width: 90px;
    height: 30px;
    vertical-align: middle; /* align the text vertically centered */
    outline: 0;
}

.general_form .btn_medium {
    border-radius: 3px;
    border-width: 1px;
    width: 110px;
    height: 40px;
    vertical-align: middle; /* align the text vertically centered */
    outline: 0;
}

.general_form .btn_large {
    border-radius: 3px;
    border-width: 1px;
    width: 140px;
    height: 40px;
    vertical-align: middle; /* align the text vertically centered */
    outline: 0;
}

.general_form .btn_Xlarge {
    border-radius: 3px;
    border-width: 1px;
    width: 70%;
    height: 40px;
    vertical-align: middle; /* align the text vertically centered */
    outline: 0;
}

.btn_icon {
    border: none;           /* assuming we don't want any borders */
    height: 16px;           /* make this the size of your image */
    vertical-align: middle; /* align the text vertically centered */
}

.icon_accept {
    content: url(/img/icons/accept.png);
}

.icon_refresh {
    content:  url(/img/icons/refresh.png);
}

.icon_add {
    content:  url(/img/icons/add.png);
}

.icon_order {
    content:  url(/img/icons/order.png);
}

.icon_login {
    content:  url(/img/icons/login.png);
}

.icon_delete {
    content:  url(/img/icons/delete.png);
}

.icon_email {
    content:  url(/img/icons/email.png);
}

.form_error {
    color: red;
}

.form_field_long {
    width: 70%;
}

.form_field_medium {
    width: 50%;
}

.form_field_short {
    width: 30%;
}

.form_granted {
    color: LimeGreen ;
}

label.btn_profile {
    content: url(/img/icons/profile.png);
    width:40px;
    height:40px;
    overflow:hidden;
    position:relative;
    cursor: pointer;
}

label.btn_pictures {
    content: url(/img/icons/pictures.png);
    width:50px;
    height:50px;
    overflow:hidden;
    position:relative;
    cursor: pointer;
}

.div_files {
    height: 50px;
}

.files_selected {
    text-align: center;
    /* height: 100%; */
    padding: 16px 2px 0px 30px;
    float: left;
}

