html {
    overflow-y: scroll;
    height: 100%;   /* this will push the footer to bottom */
}

body {
    margin:0;
    padding:0;
    height: 100%;
    background-color: rgb(243,243,243);
}

body.en :lang(es) {
    display: none;
}
body.es :lang(en) {
    display: none;
}

#main_header {
    background: rgba(65,110,225,0.9);
    width:100%;
    height:100px;
    position:fixed;
    top:0;
}

#container_center {
    min-height: 100%;
    padding-top:100px;
    margin-left:15%;
    margin-right:15%;
    padding-bottom: 2%;
    margin-bottom: -60px;
}

#container_center:after {
    content: "";
    display: block;
}

#main_footer, #container_center:after {
    height:60px;
}

#main_footer {
    width:100%;
    background: rgba(65,110,225,0.94);
    color: whitesmoke;
    text-align: center;
}

.container {
    margin-top:2%;
    padding: 2%;
    /*width: 100%;*/
    background-color:White;
    border-radius: 10px;
}

#container_upper {
    height:60%;
}

#left_box_logo {
    float:left;
    padding-top:8px;
    padding-bottom: 4px;
    padding-left:4px;
    margin-bottom:-2%;
}

#right_box_text {
    padding-top: 4px;
    padding-bottom: 2px;
    padding-left: 4px;
    margin-bottom: -2%;
    font-size: 22px;
    color: whitesmoke;
}

#company_he {
    padding-top:0;
    padding-right:1%;
}

#company_en {
    padding-right:1%;
}

a {
    text-decoration: none;
}

nav {
    background: rgba(128,0,0,0.90);
    height:40%;
}

nav a:link {
    color: whitesmoke;
    font-weight: bold;
    height: 40%;
}

nav a:visited {
    color: whitesmoke;
}

nav a:hover {
    color: slategrey;
}

nav ul {
    font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
    color: gray;
    font-size: 15px;
    margin: 0;
    padding-top: 9px;
    padding-left: 5px;
    list-style: none;
}
nav ul li {
    display: block;
    position: relative;
    float: left;
    color: whitesmoke;
    margin-left:15px;
    margin-right:15px;
}

#language {
    float:right;
    margin-right:9px;
    margin-top:2px;
    margin-bottom:2px;
    font-size:smaller;
    font-family:serif;
}

.text {
    color: black;
    font-family: "Times New Roman";
    font-size: 18px;
}

.imageTable {
    text-align: center;
}