.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 50%;
    position: relative;
    margin: 5% auto;
    padding: 0px;
    -webkit-border-radius: 15px;
    background: whitesmoke;
}

.modalDialog td {
    cursor: pointer;
}

.close {
    background: rgba(65,110,225,0.94);
    color: #FFFFFF;
    line-height: 30px;
    width: 30px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 8px;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover {
    background: rgba(128,0,0,0.90);
}

.bigImage {
    zoom: 5;

    display: block;
    margin: auto;

    height: auto;
    max-height: 100%;

    width: auto;
    max-width: 100%;
    -webkit-border-radius: 1px;
}

.thumb {
    width: 100px;
    height: 100px;
}

#image {
    cursor: default;
}

.arrow_left {
    content:  url(/costaRicaIsrael/img/icons/arrow_left.png);
}

.arrow_right {
    content:  url(/costaRicaIsrael/img/icons/arrow_right.png);
}