.publications_box {
    height: 175px;
}

.publications {
    float: left;
    width: 50%;
    text-align:center;
}

/*tfoot td:hover {
    background-color:rgba(8, 127, 251, 0.20);
    cursor: pointer;
}*/

.publications th {
    font-size: 18px;
    padding-left:30%;
    text-decoration: underline;
    text-align:left;
}

.publications tbody td{
    padding-left:30%;
    font-size: 15px;
    text-align:left;
}

.publications td:last-child {
    color: rgb(65,110,225);
    text-decoration:none;
}

.publications td:hover {
    background-color:rgba(226, 255, 199, 0.79);
    cursor: pointer;
}

.publications td{
    height: 30px;
}
